body {
  font-family: 'Arial', sans-serif;
  background-color: lightyellow;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}
