* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eaeaea;
  color: #333;
  line-height: 1.6;
}

#root {
    display: flex;
    justify-content: center;
  align-items: center;
  min-height: 100vh;
}
